/* line 2, E:/Vesco/css/vesco.scss */
////////////////////////////////////////////////////////
/////////////       SASS $MAIN          ///////////////
////////////////////////////////////////////////////////
$maincolor:#007ffb;
$mainfontsize:20px;
.tsition
{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/* /////////////////// Buttons /////////////////// */
.mainbtn {
    font-weight: 500;
    text-align: center;
    padding: .575rem 1.3rem;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    transition: all .5s ease-in-out;
    border-radius: 0rem;
    background-color: #fff;
    color: $maincolor;
    border: 1px solid $maincolor;
   @extend .tsition;

    &:hover {
        background-color: $maincolor;
        color: #fff;
        border: 1px solid $maincolor;
    }
}


.btnvesco {
    font-weight: 500;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 1px solid white;
    padding: .575rem 1.3rem;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
 @extend .tsition;
    border-radius: 0rem;
    z-index: 0;
    position: relative;
}

/* line 21, E:/Vesco/css/vesco.scss */
.btnvesco:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: top left;
  @extend .tsition;
}

/* line 31, E:/Vesco/css/vesco.scss */
.btnvesco:hover:before {
    transform: scaleX(1);
}

/* line 32, E:/Vesco/css/vesco.scss */
.btnvesco:hover {
    color: black;
}

/*  $maincolor;   */
/* line 39, E:/Vesco/css/vesco.scss */
.headsec {
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2px;
}

/* line 48, E:/Vesco/css/vesco.scss */
.headsec:after {
    content: "";
    display: block;
    height: 3px;
    width: 30px;
    background-color: $maincolor;
    margin: 20px auto;
}

/* line 58, E:/Vesco/css/vesco.scss */
.par {
    text-transform: capitalize;
    font-size: $mainfontsize - 6 ;
    font-weight: 500;
    color: #555;
}

/* line 65, E:/Vesco/css/vesco.scss */
.mardiv {
    margin: 100px auto 140px;
}

/*////////////////////////////////////////////////////////////////////*/
/* line 72, E:/Vesco/css/vesco.scss */
body {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/* line 82, E:/Vesco/css/vesco.scss */
.topbtn {
    background-color: white;
    border: 2px solid $maincolor;
    color: $maincolor;
    padding: 5px 10px;
    position: fixed;
    font-size: $mainfontsize;
    font-weight: bold;
    display: none;
    bottom: 50px;
    right: 10px;
    border-radius: 50%;
    @extend .tsition;
    z-index: 2;
}

/* line 97, E:/Vesco/css/vesco.scss */
.topbtn:hover {
    background-color: $maincolor;
    border: 2px solid $maincolor;
    color: white;
}

/* Start Heaer */
/* line 104, E:/Vesco/css/vesco.scss */
.header {
    background-image: url(../img/HeaderImg.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    max-height: 700px;
    z-index: 1;
}

/* line 114, E:/Vesco/css/vesco.scss */
.header .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(3, 3, 3, 0.6);
    z-index: 2;
}

/* line 125, E:/Vesco/css/vesco.scss */
.navbar-expand-lg {
    background-color: transparent;
    @extend .tsition;
}

/* line 130, E:/Vesco/css/vesco.scss */
.header .navbar-toggler span i {
    font-size:$mainfontsize + 5;
@extend .tsition;
}

/* line 136, E:/Vesco/css/vesco.scss */
.header .navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0rem;
   @extend .tsition;
}

/* line 146, E:/Vesco/css/vesco.scss */
.header .navbar-toggler:focus {
    outline: 0px;
}

/* line 150, E:/Vesco/css/vesco.scss */
.header .navbar .navbar-brand {
    font-size: $mainfontsize + 6;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-left: 60px;
     @extend .tsition;
}
.header .navbar .navbar-brand:hover
{
    transform: scale(1.2);
}

.header .navbar .navbar-brand .ves {
    color: $maincolor;
//    font-size: $mainfontsize + 8;
}

/* line 159, E:/Vesco/css/vesco.scss */
.header .navbar .navbar-nav {
    margin-right: $mainfontsize + 50;
}

/* line 163, E:/Vesco/css/vesco.scss */
.header .navbar .nav-item .dropdown-menu {
    display: none;
    min-width: 6rem;
    padding: 0rem 0;
    margin: .155rem 0 0;
    background-color: rgba(3, 3, 3, 0.5);
    border-radius: 0rem;
    @extend .tsition;
}

/* line 173, E:/Vesco/css/vesco.scss */
.header .navbar .nav-item .dropdown-menu .dropdown-item {
    padding: .45rem 1.5rem;
    color: #fff;
    text-transform: capitalize;
 @extend .tsition;
    font-size: $mainfontsize - 5;
}

/* line 184, E:/Vesco/css/vesco.scss */
.dropdown-divider {
    margin: 0rem 0;
}

/* line 187, E:/Vesco/css/vesco.scss */
.header .navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background-color: lightgray;
    color: $maincolor;
    font-weight: bold;
}

/* line 194, E:/Vesco/css/vesco.scss */
.header .navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* line 198, E:/Vesco/css/vesco.scss */
.header .navbar .nav-link {
    color: white;
    font-weight: 500;
    font-size: $mainfontsize - 8;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin:0px 15px;
    padding: 0px;
   @extend .tsition;
    position: relative;
}
.header .navbar .nav-link:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;bottom: -2px;
    left: 0;
    background-color: $maincolor;
    transform: scaleX(0);
     @extend .tsition;
}
.header .navbar .nav-link:hover:before , .header .navbar .active:before
{
    transform: scaleX(1)
}
/* line 209, E:/Vesco/css/vesco.scss */
.header .navbar .nav-link.active {
    color: $maincolor;
    font-size: $mainfontsize - 6 !important;
        font-weight: 900 !important;
}

.header .navbar .nav-link:hover {
    color: $maincolor;
        font-weight: 900;
        font-size: $mainfontsize - 7 !important;
}
/* line 222, E:/Vesco/css/vesco.scss */
.abdo {
    background-color: deeppink;
    margin-top: 50px;
    text-align: center;
    font-size:$mainfontsize + 45;
    color: black;
    height: 600px;
}

/* line 232, E:/Vesco/css/vesco.scss */
.header .texthead {
    text-align: center;
    color: white;
    margin-top: 190px;
}

/* line 238, E:/Vesco/css/vesco.scss */
.header .texthead h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

/* line 244, E:/Vesco/css/vesco.scss */
.header .texthead button {
    margin-top: 15px;
}

/* line 251, E:/Vesco/css/vesco.scss */
.header .texthead div .fa-angle-double-down {
    font-size: $mainfontsize;
    padding: 13px 14px;
    cursor: pointer;
    background-color: transparent;
   @extend .tsition;
    font-size: 50px;
    color: #fff;
    animation: angry-animation 1.5s linear infinite normal;
}

/* line 262, E:/Vesco/css/vesco.scss */
//.header .texthead div .fa-arrow-down:hover {
//    color: $maincolor;
//    background-color: white;
//    border: 1px solid white;
//    transform: translateY(10px);
//}

@keyframes angry-animation {
   100% ,0%{
    transform:translateY(0px);
       opacity: .5;
  }
    
  50%{
    transform:translateY(30px);
      opacity: 1;
  }
}







/* line 270, E:/Vesco/css/vesco.scss */
.header .texthead div {
    margin-top: 110px;
}



/* End Heaer */
/* Start serviecs */
/* line 294, E:/Vesco/css/vesco.scss */
.serviecs .ser {
    margin-bottom: 40px;
}

/* line 298, E:/Vesco/css/vesco.scss */
.serviecs .oneser {
    clear: both;
}

/* line 302, E:/Vesco/css/vesco.scss */
.serviecs h2 {
    margin-bottom: 70px;
}

/* line 306, E:/Vesco/css/vesco.scss */
.serviecs .oneser i {
    float: left;
    margin-top: 8px;
    margin-right: 20px;
    padding: 16px;
    color: $maincolor;
    font-size: $mainfontsize + 19;
    cursor: pointer;
    border-radius: 0px;
   @extend .tsition;
}

/* line 318, E:/Vesco/css/vesco.scss */
.serviecs .oneser i:hover {
    background-color: $maincolor;
    color: #fff;
}

/* line 323, E:/Vesco/css/vesco.scss */
.serviecs .twoser h3 {
    margin-left: 70px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: $mainfontsize - 2;
    font-weight: 700;
}

/* line 331, E:/Vesco/css/vesco.scss */
.serviecs .twoser p {
    margin-left: 70px;
}

/* End serviecs */
/*////////////////////////////////////////*/
/* start About */
/* line 343, E:/Vesco/css/vesco.scss */
.about.mardiv {
    margin: 110px auto 100px;
}

/* line 348, E:/Vesco/css/vesco.scss */
.about .oneabout {
    margin-top: 220px;
}

/* line 352, E:/Vesco/css/vesco.scss */
.about .headsec {
    text-align: left;
    letter-spacing: 0px;
    font-size: $mainfontsize + 7;
}

/* line 358, E:/Vesco/css/vesco.scss */
.about .headsec:after {
    width: 30px;
    margin: 30px 0px;
    margin-left: 0px;
}

/* line 365, E:/Vesco/css/vesco.scss */
.about .par {
    text-align: justify;
    margin-bottom: 30px;
}

/* line 370, E:/Vesco/css/vesco.scss */


/* line 383, E:/Vesco/css/vesco.scss */
.about .twoabout {
    background-image: url(../img/about.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    height: 580px;
    border-left: 180px solid #fff;
    border-top: 590px solid transparent;
}


/* End About */

/* Start Work */

#work {

    .headsec {
        margin-bottom: 60px;
    }

    .img-work {
        padding: 0px;
        overflow: hidden;

        img {
            width: 100%;
            height: 270px;
            transition: transform .5s ease-in-out;

            &:hover {
                transform: scale(1.3);
                cursor: pointer;
            }
        }
    }
}

/* End Work */

/* Start Team */

#team {

    .headsec {
        margin-bottom: 60px;
    }

    .teamleader {

        .teamimg {
            overflow: hidden;
            height: 340px;
            position: relative;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                transition: transform .5s ease-in-out;

                &:hover {
                    transform: scale(1.3);
                    cursor: pointer;
                }
            }
        }
    }

    .desc {
        margin: 20px 0;
        text-align: center;

        h4 {
            text-transform: uppercase;
            font-size: $mainfontsize + 1;
            color: black;
        }

        h6 {
            text-transform: uppercase;
            font-size: $mainfontsize - 7;
            font-weight: bold;
            color: $maincolor;
            margin: 15px 0px;
        }

        ul li i {
            font-size: 15px;
            color: black;
           @extend .tsition;
            cursor: pointer;

            &:hover {
                transform: scale(1.7)
            }
        }

        ul li i.fa-facebook:hover {
            color: #3498db
        }

        ul li i.fa-google:hover {
            color: #EA2027
        }

        ul li i.fa-instagram:hover {
            color: #e67e22
        }
    }

    
}



/* End Team */

/* Start Testmonial */
#Testmonial {
    .background-test {

        background-image: url(../img/testi.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 620px;
        padding-top: 50px;
        position: relative;

        .overlay-test {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgba(3, 3, 3, .7);
            width: 100%;
            height: 100%;
        }

        .carousel {

            .carousel-indicators {
                li {
                    border-radius: 50%;
                    height: 13px;
                    width: 13px;
                    background-color: #ADADAD;
                }

                .active {
                    background-color: $maincolor;
                }

            }

            .carousel-inner .carousel-item {

                img {
                    margin: 20px auto;
                    border-radius: 50%;
                    width: 125px;
                    height: 125px;
                    cursor: pointer;
                 
                }

                .testitext {
                    margin-bottom: 110px;

                    blockquote {
                        text-align: center;
                        position: relative;
                        font-family: Geogia, sans-serif;

                        &::after {
                            content: "”";
                            top: 0px;
                            left: 30px;
                        }

                        &::before {
                            content: "“";
                            right: 30px;
                            bottom: -20px;
                        }

                        &::before,
                        &::after {
                            position: absolute;
                            line-height: 0;
                            font-size: $mainfontsize + 70;
                            color: lightgray;
                            font-style: italic;
                        }

                        p {
                            width: 85%;
                            margin: 30px auto 50px;
                            font-style: italic;
                            color: white;
                            line-height: 30px;
                            text-transform: capitalize;


                        }

                    }

                    strong {
                        text-transform: capitalize;
                        color: #ADADAD;
                        font-size: $mainfontsize;
                    }

                    span {
                        color: #8E8989;
                        text-transform: capitalize;
                    }

                }
            }
        }

        .headsec {
            margin-bottom: 30px;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: $mainfontsize + 12;
            letter-spacing: 2px;

            &:after {
                content: "";
                display: block;
                height: 3px;
                width: 30px;
                background-color: $maincolor;
                margin: 20px auto;
            }

            span {
                color: $maincolor;
            }

        }
    }
}



/* End Testmonial */


/* Start Pricing */
#pricing {
    perspective: 600px;
    transform-style: preserve-3d;

    h2 {
        margin-bottom: 90px;
    }

    .card {
        border: 1px solid $maincolor;
        border-radius: 0px;
        cursor: pointer;
        text-align: center;
        margin-bottom: 30px;
        margin-top: 20px;
        @extend .tsition;

        &:hover {
            transform: translateZ(50px);
            background-color: $maincolor;
            border: none;

            .card-body {
                h4 {
                    color: #fff;
                }

                h6 {
                    color: lightgray;
                }

                h3 {
                    background-color: white;

                    span {
                        color: $maincolor;
                    }
                }

                .h3center {
                    color: white;
                }

                ul li {
                    color: lightgray;
                }

                .btn {
                    background-color: $maincolor;
                    color: white;
                    border: 1px solid white;

                    &:hover {
                        background-color: #fff;
                        color: $maincolor;
                        border: 1px solid white;
                    }
                }
            }
        }

        .card-body {
            padding: 0px;
            overflow: hidden;

            h4 {
                font-weight: bold;
                text-transform: capitalize;
                padding: 30px 0px 5px;
                color: $maincolor;
            }

            h6 {
                color: #8B999F;
                font-weight: normal;
                font-size: $mainfontsize - 4;
                padding-bottom: 20px;
            }

            h3 {
                background-color: lightgray;
                color: black;
                width: 100%;
                padding: 15px 0px;
                font-size: $mainfontsize - 3;
                font-weight: normal;
                margin-bottom: 20px;

                span {
                    font-size: $mainfontsize + 15;
                    color: $maincolor;
                    font-weight: bold;
                }
            }

            .h3center {
                color: white;
            }

            ul li {
                color: gray;
                padding-top: 17px;
                font-size: $mainfontsize - 5;
                font-weight: bold;
                text-transform: uppercase;
            }

            .btn {
                margin: 30px 0 40px;
                padding: 10px 40px;
            }
        }
    }

    .maincard {
        background-color: $maincolor;
        border: none;
        padding: 40px 0px;
        margin-top: -40px;

        .card-body {
            h4 {
                color: #fff;
            }

            h6 {
                color: lightgray;
            }

            h3 {
                background-color: white;

                span {
                    color: $maincolor;
                }
            }

            .h3center {
                color: white;
            }

            ul li {
                color: lightgray;
            }

            .btn {
                background-color: $maincolor;
                color: white;
                border: 1px solid white;
            }
        }
    }
}





/* End Pricing */




/* Start Stats */

#stats {
    .background-stats {

        background-image: url(../img/stats.jpg);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 530px;
        padding-top: 50px;
        position: relative;

        .overlay-stats {
            position: absolute;
            top: 0px;
            left: 0px;
            background-color: rgba(3, 3, 3, .7);
            width: 100%;
            height: 100%;
        }



        .headsec {
            margin: 30px 0px;
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: $mainfontsize + 12;
            letter-spacing: 2px;
          

            &:after {
                content: "";
                display: block;
                height: 3px;
                width: 30px;
                background-color: $maincolor;
                margin: 20px auto;
            }

            span {
                color: $maincolor;
            }
        }

        .count-stats {
                            cursor: pointer;
            text-align: center;
            margin: 80px 0px 20px;
            position: relative;
                            transition: all .5s ease-in-out;
            &:hover
            {
               
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
                
            }
            
            i {
                color: $maincolor;
                font-size: $mainfontsize + 50;
            }

            h2 {
                color: #fff;
                margin-top: 25px;
                font-size: $mainfontsize + 20;
                font-family: 'Libre Baskerville', serif;
            }

            small {
                text-transform: uppercase;
                color: gray;
                font-family: 'Libre Baskerville', serif;
            }
        }
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2019-9-22 10:6:59
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
            transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}

/* End Stats */


/* Start Section Clients */
#clients
{
    .clients-divs
    {
        margin: 40px 0px;
        .owl-dots {
    margin-top: 25px;
    }
    }
}
/* End Section Clients */

/* Start Section Contact */
#contact
{
    .cont
    {
background-color: #1E1E1E;
    padding: 70px 0px 40px;
        color: white;
        .headsec
        {
            color: #fff;
            margin-bottom: 30px;
             span 
            {
                color: $maincolor;
            }
        }
         .par
            {
                color: gray;
                text-transform: capitalize;
    font-size: $mainfontsize - 5 ;
    font-weight: 500;
            }
       .one-cont
        {
           .one-cont-1
            {
                 h4
            {
                font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
            }
            p.par
            {
                strong
                {
                    color: lightgray;
                    letter-spacing: 1px;
                }
            }
            }
            .one-cont-2
            {
                margin-top: 50px;
               .oc2
                {
                    margin-top: 15px;
                     span i {
                    font-size: 14px;
                   color: gray;
                    margin-right: 15px;
                }
             span.par{
                     font-size: $mainfontsize - 5;
                }
                }
                
            }
            
            .one-cont-3
            {
                    margin-top: 50px;
                margin-bottom: 30px;
                span i
            {
                margin-right: 20px;
                font-size: 19px;
                   color: gray;
                cursor: pointer;
                 @extend .tsition;
                &:hover
                {
                   color: $maincolor; 
                transform: scale(1.7)
                }
            } 
                
            }
                    
            }
        
        
        .two-cont
        {            
 form 
            {
                .btn
                {
                    margin-bottom: 40px;
            margin-top: 10px;   
                    margin-left: 5px;
    padding: .375rem 2.55rem;
    font-size: 1.1rem;
                    overflow: hidden;
                    transform: scaleX(1);
                     @extend .tsition;
                    &:before {
	font-family: FontAwesome;
content:"\f061";
	position: absolute;
	bottom: 8px;
                        font-size: 15px;
	right: -30px;
	transition: all 400ms ease;
}
                    &:hover:before {
	right: 20px;
}

                }
            .form-group
            {
                    margin-bottom: 1.4rem;
                .form-control:not([placeholder="Message"]) {
    height: calc(1.9em + .85rem + 3px);
    font-size: .9rem;
    color: #fff;
    background-color: transparent;
    border: 1px solid #4e4c4c;
    border-radius: 0rem;
                    &:focus
                    {
                    box-shadow: 0 0 0 0.1rem #2882da;
                    }
}
                 .form-control[placeholder="Message"]{
    font-size: .9rem;
    color: #fff;
    background-color: transparent;
    border: 1px solid #4e4c4c;
    border-radius: 0rem;
                      &:focus
                    {
                    box-shadow: 0 0 0 0.1rem #2882da;
                    }
}
            }
            }

        }
            
        }
    }

/* End Section Contact */


/* Start Section Footer */
.footer
{
    background-color: #1E1E1E;
    padding: 10px 0px;
    .first-footer
    {
        p{
         text-transform: capitalize;
            font-size: 17px;
            margin-top: 23px;
        color: gray;
            strong {
                color: $maincolor
            }
        }
    }
    nav
    {
         margin-top: 23px;
        .breadcrumb
        {
            background-color: transparent;
            padding: 0px;
            .breadcrumb-item 
            {
                a 
                {
                    color: gray;
                }
            }
            .active
            {
                color: $maincolor;
            }
        }  
    }
}

/* End Section Footer */




/*# sourceMappingURL=vesco.css.map */
